<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>聚金资本 - P2P理财P2P网贷投资理财聚金金融P2CN三板贷平台</title>
    <meta name="Keywords" content="p2p理财三板贷聚金资本聚金金融p2p网贷聚金财富聚金华宝"/>
    <meta name="Description" content="河南聚金金融深圳聚金华宝旗下，聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财新三板贷（新三板上市企业网贷）平台是中原第一的p2p理财网贷平台，是帮助用户p2p理财以实现聚金财富增值的网贷平台，是安全稳健持续可靠的p2p网贷投资理财平台。聚金华宝旗下聚金资本以其快速高效透明，持续安全稳健的经营特征赢得了良好的用户口碑和网贷平台排名。请记住聚金:河南聚金金融、深圳聚金华宝；记住聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财三板贷平台"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="shortcut icon" href="http://m.jujinziben.com/m/favicon.ico">
    <link rel="stylesheet" href="css/mquestionnaire.css" media="screen" type="text/css" />
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/checkbox.min.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-app="myApp">
    <!-- mquestionnaire --->
    <div class="mquestionnaire" ng-controller="questionCtrl">
    <div class="maire myt0">
        <div class="bore"></div>
        <div class="bore-text">
            <p>
                请结合您的自身情况予以回馈，感谢您的支持和配合<br/>
                预祝投资顺利、生活愉快！
            </p>
        </div>
        <div class="bore-btn100">
            <div class="bore-btn" ng-click="nextPage(0)">
                开始答题
            </div>
        </div>
    </div>
    <div class="mairy myt1">
        <p class="mair-a">1、您目前所处的年龄阶段</p>
        <div class="mair-ul radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@0.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span radio_checked">
                              <input type="radio" name="item1" value="1">
                            </span>
                            18-28岁
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@01.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item1" value="2">
                            </span>
                            28-35岁
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@02.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item1" value="3">
                            </span>
                            36-45岁
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@03.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item1" value="4">
                            </span>
                            46-55岁
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="mair-last">
                <li>
                    <div class="mair-a2">
                        <img src="images/mair@04.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a3">
                        <p class="mair-ap">
                            <span class="radio_span">
                              <input type="radio" name="item1" value="5">
                            </span>
                            56岁以上
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>1</font>/11</p>
        <div class="mra-btn0">
            <div class="mra-btn" ng-click="nextPage(1)">
                下一题
            </div>
        </div>
    </div>
    <!--two-->
    <div class="mairy myt2">
        <p class="mair-a">2、到目前为止，您已经有多少年投资经验</p>
        <div class="mair-ul radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@05.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item2" value="1">
                            </span>
                            少于1年
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@06.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item2" value="2">
                            </span>
                            1-3年
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@07.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item2" value="3">
                            </span>
                            3-5年
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@08.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item2" value="4">
                            </span>
                            6-10年
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="mair-last">
                <li>
                    <div class="mair-a2">
                        <img src="images/mair@09.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a3">
                        <p class="mair-ap">
                            <span class="radio_span">
                              <input type="radio" name="item2" value="5">
                            </span>
                            10年以上
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>2</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(1)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(2)">
                下一题
            </div>
        </div>
    </div>
    <!--two-->
    <!--three--->
    <div class="mairy myt3">
        <p class="mair-a">3、您预期的投资期限是</p>
        <div class="mair-ul radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@10.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item3" value="1">
                            </span>
                            0-0.5年
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@11.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item3" value="2">
                            </span>
                            0.5-1年
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@12.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item3" value="3">
                            </span>
                            1年
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@13.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item3" value="4">
                            </span>
                            1-3年
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="mair-last">
                <li>
                    <div class="mair-a2">
                        <img src="images/mair@14.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a3">
                        <p class="mair-ap">
                            <span class="radio_span">
                              <input type="radio" name="item3" value="5">
                            </span>
                            3年以上
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>3</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(2)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(3)">
                下一题
            </div>
        </div>
    </div>
    <!--three--->
    <!--four--->
    <div class="mairy myt4">
        <p class="mair-a">4、您的家庭目前全年收入状况如何</p>
        <div class="mair-ul radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@20.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item4" value="1">
                            </span>
                            5万元以下
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@21.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item4" value="2">
                            </span>
                            5-15万元
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@22.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item4" value="3">
                            </span>
                            15-30万元
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@23.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item4" value="4">
                            </span>
                            30-50万元
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="mair-last">
                <li>
                    <div class="mair-a2">
                        <img src="images/mair@24.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a3">
                        <p class="mair-ap0">
                            <span class="radio_span">
                              <input type="radio" name="item4" value="5">
                            </span>
                            50万元以上
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>4</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(3)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(4)">
                下一题
            </div>
        </div>
    </div>
    <!--four--->
    <!--five--->
    <div class="mairy myt5">
        <p class="mair-a">5、一般情况下，在您的家庭年收入中，可用作投 资或储蓄的占比</p>
        <div class="mair-ul radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@15.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item5" value="1">
                            </span>
                            0%-10%
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@16.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item5" value="2">
                            </span>
                            10%-25%
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@17.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item5" value="3">
                            </span>
                            25%-35%
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@18.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a1">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item5" value="4">
                            </span>
                            35%-50%
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="mair-last">
                <li>
                    <div class="mair-a2">
                        <img src="images/mair@19.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a3">
                        <p class="mair-ap">
                            <span class="radio_span">
                              <input type="radio" name="item5" value="5">
                            </span>
                            50%以上
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>5</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(4)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(5)">
                下一题
            </div>
        </div>
    </div>
    <!--five--->
    <!--six--->
    <div class="mairy myt6">
        <p class="mair-att">6、您投资的主要目的是什么？请在以下答案中选 择最符合您的一个描述</p>
        <div class="mair-ul0 radiobox">
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@25.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a4">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item6" value="1">
                            </span>
                            <abbr>
                                赚个生活费 维持日常生活开支
                            </abbr>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@26.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a4">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item6" value="2">
                            </span>
                            <abbr>
                                闲钱理财
                            </abbr>
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@27.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a4">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item6" value="3">
                            </span>
                            <abbr>
                                暂时闲置资金 博取较高的风险收益
                            </abbr>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="mair-a0">
                        <img src="images/mair@28.png" width="100%" height="100%">
                    </div>
                    <div class="mair-a4">
                        <p>
                            <span class="radio_span">
                              <input type="radio" name="item6" value="4">
                            </span>
                            <abbr>
                                赚钱提升生活品质
                            </abbr>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mra-po"><font>6</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(5)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(6)">
                下一题
            </div>
        </div>
    </div>
    <!--six--->
    <!--seven--->
    <div class="mairy myt7">
        <p class="mair-att">7、以下哪项描述最符合您对某项投资在未来1年 内表现所持的态度</p>
        <div class="mair-img0">
            <div class="mair-amg">
                <img src="images/mair@29.png" width="100%" height="100%">
            </div>
            <div class="mair-img0">
                <div class="mair-img-li radiobox">
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item7" value="1">
                        </span>
                        <abbr>
                            如果发生亏损，我并不在乎
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item7" value="2">
                        </span>
                        <abbr>
                            我能承受25%以内的亏损
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item7" value="3">
                        </span>
                        <abbr>
                            我只能承受10%以内的亏损
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item7" value="4">
                        </span>
                        <abbr>
                            我几乎不能承受任何亏损
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item7" value="5">
                        </span>
                        <abbr>
                            我需要至少获得高于一年定期存款利率的收益
                        </abbr>
                    </p>
                </div>
            </div>
        </div>
        <p class="mra-po"><font>7</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(6)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(7)">
                下一题
            </div>
        </div>
    </div>
    <!--seven--->
    <!--eit--->
    <div class="mairy myt8">
        <p class="mair-att">8、目前有一个200万元的投资项目，但有50%的可能盈利100万元，同样也有50%的可能损失50万元。您会进行这个投资吗？</p>
        <div class="mair-img0">
            <div class="mair-amg">
                <img src="images/mair@30.png" width="100%" height="100%">
            </div>
            <div class="mair-img0">
                <div class="mair-img-li radiobox">
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item8" value="1">
                        </span>
                        <abbr>
                            当然会
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item8" value="2">
                        </span>
                        <abbr>
                            可能会
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item8" value="3">
                        </span>
                        <abbr>
                            也许吧
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item8" value="4">
                        </span>
                        <abbr>
                            可能不
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item8" value="5">
                        </span>
                        <abbr>
                            无所谓
                        </abbr>
                    </p>
                </div>
            </div>
        </div>
        <p class="mra-po"><font>8</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(7)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(8)">
                下一题
            </div>
        </div>
    </div>
    <!--eit--->
    <!--nine--->
    <div class="mairy myt9">
        <p class="mair-att">9、如果您拥有￥500,000用以建立您的投资组合，您认为下面哪个投资组合最具吸引力？</p>
        <div class="mair-img0">
            <div class="mair-amg0">
                <img src="images/mair@31.png" width="100%" height="100%">
            </div>
            <div class="mair-img0">
                <div class="mair-img-li0 radiobox">
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item9" value="1">
                        </span>
                        <abbr>
                            <img src="images/mair@32.png" width="100%" height="100%">
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item9" value="2">
                        </span>
                        <abbr>
                            <img src="images/mair@33.png" width="100%" height="100%">
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item9" value="3">
                        </span>
                        <abbr>
                            <img src="images/mair@34.png" width="100%" height="100%">
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item9" value="4">
                        </span>
                        <abbr>
                            <img src="images/mair@35.png" width="100%" height="100%">
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item9" value="5">
                        </span>
                        <abbr>
                            <img src="images/mair@36.png" width="100%" height="100%">
                        </abbr>
                    </p>
                </div>
            </div>
        </div>
        <p class="mra-po"><font>9</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(8)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(9)">
                下一题
            </div>
        </div>
    </div>
    <!--nine--->
    <!--ten--->
    <div class="mairy myt10">
        <p class="mair-att">10、根据您以往投资的经验，当有相当部分资金被分配到风险较高的其他投资项目时，您通常：</p>
        <div class="mair-img0">
            <div class="mair-amg">
                <img src="images/mair@37.png" width="100%" height="100%">
            </div>
            <div class="mair-img0">
                <div class="mair-img-li radiobox">
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item10" value="1">
                        </span>
                        <abbr>
                            比较放心，很少关注
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item10" value="2">
                        </span>
                        <abbr>
                            关注，但不焦虑
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item10" value="3">
                        </span>
                        <abbr>
                            比较关注，有点焦虑
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item10" value="4">
                        </span>
                        <abbr>
                            非常关注，比较焦虑
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item10" value="5">
                        </span>
                        <abbr>
                            极度关注，非常焦虑
                        </abbr>
                    </p>
                </div>
            </div>
        </div>
        <p class="mra-po"><font>10</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(9)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(10)">
                下一题
            </div>
        </div>
    </div>
    <!--ten--->
    <!--eleven--->
    <div class="mairy myt11">
        <p class="mair-att">11、假设现有以下几个投资品种，您必须并且只能选择其中的一个进行投资，那您会选择哪一个</p>
        <div class="mair-img0">
            <div class="mair-amg">
                <img src="images/mair@38.png" width="100%" height="100%">
            </div>
            <div class="mair-img0">
                <div class="mair-img-li1 radiobox">
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item11" value="1">
                        </span>
                        <abbr>
                            年化收益率可能在30%以上，同时本金也有可能亏损30%以上
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item11" value="2">
                        </span>
                        <abbr>
                            年化收益率可能在20%以内，同时本金也有可能亏损20%以内
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item11" value="3">
                        </span>
                        <abbr>
                            年化收益率可能在10%以内，同时本金也有可能亏损10%以内
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item11" value="4">
                        </span>
                        <abbr>
                            本金保证，年化收益率在0-8%之间
                        </abbr>
                    </p>
                    <p>
                        <span class="radio_span" style="margin-left: 0;">
                            <input type="radio" name="item11" value="5">
                        </span>
                        <abbr>
                            固定年化收益率为4%的产品
                        </abbr>
                    </p>
                </div>
            </div>
        </div>
        <p class="mra-po"><font>11</font>/11</p>
        <div class="mrt-btn">
            <div class="mr-btn0" ng-click="prePage(10)">
                上一题
            </div>
            <div class="mr-btn01" ng-click="nextPage(11)">
                下一题
            </div>
        </div>
    </div>
    <!--eleven--->
    <!---twelve--->
    <div class="maire">
        <p class="numb">您的测评得分为：</p>
        <div class="numb-bore">
            <p class="numb-text"><b id="totalScore"></b>分</p>
            <p class="numb-text0" id="modelMemo"></p>
        </div>
        <div class="bore-text0">
            <p id="modelLevel">
                风险等级R1
            </p>
        </div>
        <div class="nb-mir">
            <div class="numb-btn">
                <div class="numb-btn0" ng-click="reassess()">
                    重新测评
                </div>
            </div>
        </div>
    </div>
    <!---twelve--->
    </div>
    <!-- mquestionnaire --->
</body>
</html>
